<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>hello</title>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      padding: 10px;
      background: gray;
    }
  </style>
  <script>
    if (window.isInWKWebView) {
      document.querySelector('body > strong').innerHTML = 'this is in wk web view'
    }

    function webviewCall(action, payload) {
      try {
        // wk web view
        window.webkit.messageHandlers
          .webviewCall
          .postMessage(JSON.stringify({
            payload: payload,
            action: action
          }))
      } catch (e) {
        console.error(e)
      }
    }

    function onNativeMessage(message) {
      document.querySelector('body > p').innerHTML = message
    }

    setTimeout(function() {
      webviewCall('say hello', {
        message: 'hello'
      })
    }, 3000)

    function gotoMap() {
      webviewCall('goto map')
    }

    function callOut() {
      webviewCall('call me')
    }
  </script>
</head>
<body>
  <button onclick="gotoMap()">goto map</button>
  <button onclick="callOut()">call out</button>
  <i></i>
  <p></p>
  <strong></strong>
  <script>
    var count = 0
    function add() {
      count++
      document.querySelector('body > i').innerHTML = count
      return count
    }
  </script>
</body>
</html>
